p {
    margin: 0;
}

.Card {
    background: rgb(219, 240, 244);
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

.Card_img {
    text-align: center;
    /*Prevents user from dragging a ghost image of the Pokemon */
    pointer-events: none;
}

.Card_types {
    display: flex;
    justify-content: center;    
}

.Card_type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card_info {
    margin-left: 10px;
}

.Card_data {
    padding-bottom: 10px;
}

.Card_data .title {
    font-weight: 700;
}